@import url('https://fonts.googleapis.com/css?family=Mulish');

:root {
  font-family: 'Mulish';

  color-scheme: light;

  --primary-white: #fff;

  --dim-white: rgba(255, 255, 255, 0.90);

  --low-dim-white: rgba(255, 255, 255, 0.85);

  --shadow-white: rgba(229, 233, 246, 0.4);

  --primary-gradient: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);

  --slider-gradient: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);

  --primary-blue: #458FF6;

  --cornflower-blue: #5B9BF3;

  --aqua-blue: #4089ED;

  --primary-gray: #7D7987;

  --midnight-black: #233348;
  --blackcurrant-black: #1F1534;
  --primary-black: #000;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-color);
    background-color: var(--primary-white);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--midnight-black);
  }
  button {
    background-color: var(--primary-white);
  }

  h1, h2, h3, h4, h5, p {
    margin: 0px;
  }
}


